

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url(topimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ddd;
}

header img {
    width: 205px;
    height: 350;
    border-radius: 40px;
}

h1 {
    text-align: center;
    margin: 0;
    flex-grow: 1;
 
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(87, 145, 187);
    padding: 10px 0;
}

nav a {
    color: rgb(250, 246, 246);
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #287dd3;
    border-radius: 19px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #b498d0;
}

nav a:first-child {
    margin-width:150px ;
    background-color: #0356ae;
}

nav a:first-child:hover {
    background-color: #b498d0;
    
}
.button-container {
    display: flex;
}

